<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new char</title>
  </head>
  <body>
    <h2>Add new chat</h2>
    <div>
      <form action="/chats" method="POST">
        <input type="text" placeholder="who are you?" name="from" /><br /><br />
        <textarea name="message" id="message">Write message here..</textarea
        ><br /><br />
        <input type="text" placeholder="Reciever Name" name="to" />
        <button>Send</button>
      </form>
    </div>
  </body>
</html>
